-e git+https://github.com/Spine-project/Spine-Database-API.git@master#egg=spinedb_api
-e git+https://github.com/Spine-project/spine-engine.git@master#egg=spine_engine
-e git+https://github.com/Spine-project/spine-items.git@issue_1532_prevent_unnecessary_changes_to_project_files#egg=spine_items
-e .

